<div class="landing-page">
  <div class="row landing-page-header">
    <div class="columns landing-page-header-logo large-4">
      <%= link_to "Wikenso", "#" %>
    </div>

    <div class="columns large-8 landing-page-header-actions">
      <%= link_to "About", "#", class: "landing-page-header-action about" %>
      <%= link_to "Features", "#features", class: "landing-page-header-action features" %>
      <%= link_to "Pricing", "#", class: "landing-page-header-action pricing" %>
      <%= link_to "Sign Up", new_wiki_path, class: "landing-page-header-action create-wiki" %>
    </div>
  </div>


  <div class="row">
    <div class="columns large-centered landing-page-screenshot">
      <%= image_tag asset_path("landing_page/screenshot.png") %>
    </div>
  </div>

  <div class="row landing-page-tagline-row">
    <div class="columns landing-page-tagline large-8 large-centered">
      Hosted, Private Wikis for Teams
    </div>
  </div>

  <div class="landing-page-features">
    <div class="row landing-page-feature" id="features">
      <div class="columns large-6 landing-page-feature-body">
        <div class="landing-page-feature-heading">
          Internal
        </div>
        <div class="landing-page-feature-description">
          <p>Stuff in a Wikenso wiki is only visible to the people you invite. Think of it as an intranet for your team.
            We also give you a subdomain <em>(yourcompany.wikenso.com)</em> so your wiki is completely separate.</p>
        </div>
      </div>

      <div class="columns large-6 landing-page-feature-body">
        <div class="landing-page-feature-heading">
          Fully Hosted
        </div>
        <div class="landing-page-feature-description">
          <p>You don't need the hassle of setting up and maintaining your own servers.
            With Wikenso you get a wiki that you can start using immediately.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="landing-page-thumbnail-features">
    <div class="row">
      <%= render "static_pages/landing_page_thumbnail_feature",
                 header: "WYSIWYG Editor",
                 text: "Wikenso has a clean, no-nonsense editor that is a joy to use.",
                 image_url: asset_path("landing_page/wysiwyg-screenshot-thumb.png"),
                 modal_id: "wysiwyg-screenshot-modal" %>

      <%= render "static_pages/landing_page_thumbnail_feature",
                 header: "History",
                 text: "View the history of every change published on a page.",
                 image_url: asset_path("landing_page/history-screenshot-thumb.png"),
                 modal_id: "history-screenshot-modal" %>


      <%= render "static_pages/landing_page_thumbnail_feature",
                 header: "Logo",
                 text: "Use your organization's logo in the header.",
                 image_url: asset_path("landing_page/logo-screenshot-thumb.png"),
                 modal_id: "logo-screenshot-modal" %>
    </div>
  </div>

  <div class="landing-page-sign-up">
    <div class="row">
      <div class="columns large-centered">
        <%= link_to "Get Your Wikenso Wiki Now!", new_wiki_path, class: 'landing-page-sign-up-button button' %>
      </div>
    </div>
  </div>

  <div class="landing-page-footer row">
    <div class="columns large-6 landing-page-footer-actions">
      <%= link_to "Terms of Service", "#", class: "landing-page-footer-action tos" %>
      <%= link_to "Contact Us", "http://nilenso.com/#contact", class: "landing-page-footer-action contact", target: "_blank" %>
    </div>
    <div class="columns large-5 landing-page-footer-logo">
      <%= link_to(image_tag(asset_path("nilenso.png")), "http://nilenso.com") %>
    </div>
  </div>
</div>

<%= render "static_pages/landing_page_screenshot_modal", image_url: asset_path("landing_page/wysiwyg-screenshot.png"), class_name: "wysiwyg", size: "medium" %>
<%= render "static_pages/landing_page_screenshot_modal", image_url: asset_path("landing_page/history-screenshot.png"), class_name: "history", size: "medium" %>
<%= render "static_pages/landing_page_screenshot_modal", image_url: asset_path("landing_page/logo-screenshot.png"), class_name: "logo", size: "small" %>