<% content_for(:body_class) { "not-logged-in" } %>

<div class="pricing-page">
  <div class="row not-logged-in-header">
    <%= render "not_logged_in/header" %>
  </div>

  <div class="row">
    <div class="columns large-centered">
      <h1 class="pricing-page-free-trial">All plans come with a 30-day free trial</h1>
    </div>
  </div>

  <div class="row pricing-page-plans">
    <div class="columns large-10 large-centered">
      <%= render "static_pages/pricing_page_plan", emphasis: false, plan_name: "Nil", price: 9, users: 10 %>
      <%= render "static_pages/pricing_page_plan", emphasis: true, plan_name: "Enso", price: 19, users: 20 %>
      <%= render "static_pages/pricing_page_plan", emphasis: false, plan_name: "Mazu", price: 49, users: 50 %>
      <%= render "static_pages/pricing_page_plan", emphasis: false, plan_name: "Zen", price: 99, users: 100 %>
    </div>
  </div>

  <%= render "not_logged_in/footer" %>
</div>