<div class="pricing-page">
  <div class="row pricing-page-header">
    <div class="columns pricing-page-header-logo large-4">
      <%= link_to "Wikenso", "/" %>
    </div>
  </div>

  <div class="row">
    <div class="columns large-centered">
      <h1 class="pricing-page-free-trial">All plans come with a 30-day free trial</h1>
    </div>
  </div>

  <div class="row pricing-page-plans">
    <div class="columns large-10 large-centered">
      <%= render "static_pages/pricing_page_plan", emphasis: false, plan_name: "Nil", price: 9, users: 10 %>
      <%= render "static_pages/pricing_page_plan", emphasis: true, plan_name: "Enso", price: 19, users: 20 %>
      <%= render "static_pages/pricing_page_plan", emphasis: false, plan_name: "Mazu", price: 49, users: 50 %>
      <%= render "static_pages/pricing_page_plan", emphasis: false, plan_name: "Zen", price: 99, users: 100 %>
    </div>
  </div>

  <div class="pricing-page-footer row">
    <div class="columns large-6 pricing-page-footer-actions">
      <%= link_to "About", "#", class: "pricing-page-footer-action tos" %>
      <%= link_to "Contact", "http://nilenso.com/#contact", class: "pricing-page-footer-action contact", target: "_blank" %>
    </div>
    <div class="columns large-5 pricing-page-footer-logo">
      <%= link_to(image_tag(asset_path("nilenso.png")), "http://nilenso.com") %>
    </div>
  </div>
</div>