<div class="row">
  <div class="large-12 large-centered columns page-history-view">
    <div class="page-history-view-actions">
      <span class="page-history-view-actions-item back"><%= link_to "Go Back", page_path(@page) %></span>
    </div>

    <div class="page-history-view-title-prefix">History of</div>
    <div class="page-history-view-title">
      <%= @page.title %>
    </div>
  </div>
</div>

<div class="row">
  <div class="columns">
    <ul class="page-history-view-list">
      <% @page_versions.select(&:has_user?).each do |version| %>
          <li class="page-history-view-list-item">
            <div class="page-history-view-list-item-time">
              <%= link_to  version.created_at_time_string, page_change_path(@page, version) %>
            </div>

            <div>
              <span class="page-history-view-list-item-user-name"><%= version.user_name %></span>
              <span><%= version.event == 'create' ? 'created this page' : 'published a change' %></span>
            </div>
          </li>
      <% end %>
    </ul>
  </div>
</div>