<div class="wiki-users">
  <div class="wiki-users-header row">
    <div class="columns large-8">
      <span class="wiki-users-header-wiki-name"><%= @wiki.name %></span>
      <span class="wiki-users-header-wiki-users">Users</span>
    </div>

    <div class="large-4 columns wiki-users-add-user">
      <div class="row collapse">
        <%= simple_form_for :user, url: pending_users_path do |f| %>
          <div class="row collapse">
            <div class="small-9 columns">
              <%= f.input :email,
                          label: false,
                          required: false,
                          placeholder: "Add User by Email…",
                          wrapper_html: {:class => 'wiki-users-add-user-fields'} %>
            </div>
            <div class="small-3 columns wiki-users-add-user-button-wrapper">
              <%= f.button :submit, "Add", class: "wiki-users-add-user-button" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <table class="wiki-users-table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <% @wiki.users.order("type").decorate.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.status_for_table.html_safe %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>