<div class="help-text row">
  <p class="large-12-columns">
    <%= t(".editor_help_text") %>
  </p>
</div>

<div class="error-text row">
  <p class="large-12-columns">
  </p>
</div>

<div class="row wiki-pages-view">
  <div class="large-12 columns wiki-pages-view-single" data-draft-page-id=<%= @draft_page.id %>>
    <div class="wiki-pages-view-single-actions">
      <span class="wiki-pages-view-single-actions-item back"><%= link_to "Go Back", page_path(@page) %></span>
      <span class="wiki-pages-view-single-actions-item discard">
        <%= link_to "Discard Draft", draft_page_path(@draft_page), method: :delete, confirm: t(".discard_draft_confirmation") %>
      </span>
      <span class="wiki-pages-view-single-actions-item publish"><%= link_to "Publish", "javascript:void(0);" %></span>
    </div>

    <div class="wiki-pages-view-single-title-prefix">Editing Draft</div>
    <div class="wiki-pages-view-single-title" contenteditable=true data-placeholder="Title goes here…">
      <%= @draft_page.title %>
    </div>

    <div class="wiki-pages-view-single-text" contenteditable=true data-placeholder="Enter your page text here…">
      <p><%= sanitize @draft_page.text, tags: @draft_page.allowed_html_tags %></p>
    </div>
  </div>

  <%= simple_form_for @draft_page, url: page_path(@page), as: :page, html: { class: "wiki-pages-view-single-shadow-form" } do |f| %>
    <%= f.input :title, input_html: { class: "wiki-pages-view-single-shadow-form-title-input" }%>
    <%= f.input :text, input_html: { class: "wiki-pages-view-single-shadow-form-text-input" } %>
  <% end %>
</div>

<ul class="wiki-pages-view-formatting">
  <li><a href="javascript:void(0);" class="wiki-pages-view-formatting-bold">B</a></li>
  <li><a href="javascript:void(0);" class="wiki-pages-view-formatting-italic">i</a></li>
  <li><a href="javascript:void(0);" class="wiki-pages-view-formatting-link">www</a></li>
  <li><a href="javascript:void(0);" class="wiki-pages-view-formatting-heading">
    A<i class="foundicon-up-arrow"></i>
  </a></li>
  <li><a href="javascript:void(0);" class="wiki-pages-view-formatting-paragraph">
    a<i class="foundicon-down-arrow"></i>
  </a></li>
</ul>

<div class="saving-indicator"></div>

<div id="add-link-modal" class="reveal-modal small">
  <input type="text" placeholder="http://example.com/" class="add-link-modal-input" />
  <a href="javascript:void(0);" class="add-link-modal-done">Add Link</a>
  <span class="add-link-modal-or">/</span>
  <a href="javascript:void(0);" class="add-link-modal-cancel">Cancel</a>
</div>

<%= render "pages/keyboard_shortcuts_modal" %>

<script type="text/javascript">
  $(document).ready(function(){
    var model = new WikiApp.Models.DraftPageModel();
    new WikiApp.Views.WikiPageView(model);
    new WikiApp.Views.KeyboardShortcutsModalView();
  });
</script>