<div class="help-text row">
  <p class="large-12-columns">
    <%= t(".editor_help_text") %>
  </p>
</div>

<div class="error-text row">
  <p class="large-12-columns">
  </p>
</div>

<div class="row wiki-pages-view">
  <div class="large-12 columns wiki-pages-view-single" data-id=<%= @page.id %>>
    <div class="wiki-pages-view-single-actions">
      <span class="wiki-pages-view-single-actions-back"><%= link_to "Go Back", page_path(@page) %></span>
    </div>

    <div class="wiki-pages-view-single-title-prefix">Editing </div>
    <div class="wiki-pages-view-single-title" contenteditable=true>
      <%= @page.title %>
    </div>

    <div class="wiki-pages-view-single-text" contenteditable=true>
      <p><%= sanitize @page.text, tags: @page.allowed_html_tags %></p>
    </div>
  </div>

</div>

<div class="saving-indicator">
</div>

<div id="add-link-modal" class="reveal-modal small">
  <input type="text" placeholder="http://example.com/" class="add-link-modal-input" />
  <a href="javascript:void(0);" class="add-link-modal-done">Add Link</a>
  <span class="add-link-modal-or">/</span>
  <a href="javascript:void(0);" class="add-link-modal-cancel">Cancel</a>
</div>

<script type="text/javascript">
  var model = new WikiApp.Models.PageModel();
  new WikiApp.Views.WikiPageView(model);
</script>