<% if @wiki.pages.present? %>
  <div class="row wiki-pages-view">
    <div class="large-3 columns wiki-pages-view-index">
      <ul class="wiki-pages-view-index-list">
        <% @wiki.pages.each do |page| %>
          <li class="wiki-pages-view-index-list-item <%= page == @page ? "active" : "" %>">
            <%= link_to page.title, page_path(page) %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="large-9 columns wiki-pages-view-single display" data-id=<%= @page.id %>>

      <div class="wiki-pages-view-single-actions">
        <span class="wiki-pages-view-single-actions-item"><%= link_to "Edit this Page", edit_page_path(@page) %></span>
        <span class="wiki-pages-view-single-actions-item"><%= link_to "View History", page_changes_path(@page) %></span>
      </div>

      <div class="wiki-pages-view-single-title">
        <%= @page.title %>
      </div>

      <div class="wiki-pages-view-single-text">
        <p><%= sanitize @page.text, tags: @page.allowed_html_tags %></p>
      </div>
    </div>

  </div>
<% end %>