<% content_for(:body_class) { "not-logged-in" } %>

<%= render "not_logged_in/header" %>

<div class="create-wiki-legend">
  Sign up for a
          <span class="create-wiki-legend-emphasis">
            Wikenso
          </span>
  Wiki
</div>

<div class="create-wiki row">
  <div class="columns large-9 large-centered">
    <%= simple_form_for @wiki do |f| %>
      <fieldset>
        <div class="row collapse create-wiki-form-input">
          <%= f.label :subdomain, "Web Address" %>
          <div class="large-8 columns">
            <%= f.input_field :subdomain %>
            <%= f.full_error :subdomain %>
          </div>
          <div class="large-4 columns">
            <span class="postfix">.wikenso.com</span>
          </div>
        </div>

        <%= f.simple_fields_for :users do |users_form| %>
          <%= users_form.input :name, label: "Your name", wrapper_html: {class: "create-wiki-form-input"} %>
          <%= users_form.input :email, required: false, wrapper_html: {class: "create-wiki-form-input"} %>
          <%= users_form.input :password, wrapper_html: {class: "create-wiki-form-input"} %>
          <%= users_form.input :password_confirmation, label: "Confirm password", wrapper_html: {class: "create-wiki-form-input"} %>
        <% end %>
        <div class="create-wiki-form-submit-wrapper">
          <%= f.button :submit, "Create", class: "create-wiki-form-submit" %>
        </div>

      </fieldset>
    <% end %>
  </div>
</div>

<%= render "not_logged_in/footer" %>

<script type="text/javascript">
  $(document).ready(function () {
    $("input[id=wiki_subdomain]").first().focus();
  });
</script>