<div class="contain-to-grid wiki-header">
  <nav class="top-bar">
  <ul class="title-area">

  </ul>


  <section class="top-bar-section">
    <ul class="left">
      <li>
        <div class="wiki-header-logo">
          <%= link_to(image_tag("placeholder_logo.png"), "/") %>
        </div>
      </li>
    </ul>
    <% if user_signed_in? %>

      <ul class="right">
        <li class="wiki-header-search search has-form">
          <form>
            <div class="row collapse">
              <div class="small-2 columns">
                <i class="foundicon-search wiki-header-search-icon"></i>
              </div>

              <div class="small-10 columns">
                <input type="text" class="wiki-header-search-input" placeholder="<%= t(".search_bar_placeholder_text") %>"/>
              </div>
            </div>
          </form>
        </li>

        <li class="divider"></li>

        <li class="wiki-header-signed-in" data-dropdown="user-dropdown">
          <span class="wiki-header-signed-in-signed-in-as" data-dropdown="user-dropdown">
            <%= t(".signed_in_as_text") %>
          </span>
          <span class="wiki-header-signed-in-first-name" data-dropdown="user-dropdown">
            <%= current_user.name %>
          </span>
        </li>
      </ul>
    <% end %>
  </section>
</nav>
</div>

<% if user_signed_in? %>
  <ul id="user-dropdown" class="f-dropdown" data-dropdown-content>
    <li><%= link_to "Users", users_path(subdomain: request.subdomain) %></li>
    <li><a href="#">Profile</a></li>
    <li><a href="#">Logout</a></li>
  </ul>
<% end %>

<script type='text/javascript'>
  $(document).ready(function() {
    $(".wiki-header-signed-in-signed-in-as").click(function(){
      $(".wiki-header-signed-in").click();
    });
  });
</script>