<script type="text/javascript">
  Opentip.styles.action = {
    shadow: false,
    escapeContent: true,
    tipJoint: 'bottom',
    delay: 0,
    showEffect: false,
    hideEffect: false,
    hideDelay: 0,
    background: "#333",
    className: "wiki-header-actions-single-action-tooltip",
    borderWidth: 0,
    removeElementsOnHide: true,
    fixed: true,
    target: true
  };
</script>

<div class="contain-to-grid wiki-header">
  <nav class="top-bar">
    <section class="top-bar-section">
      <ul class="left">
        <li>
          <div class="wiki-header-logo">
            <%= link_to(image_tag(@wiki.logo.url), "/") %>
          </div>
        </li>
      </ul>
      <% if user_signed_in? %>

        <ul class="right">
          <li class="wiki-header-actions">
          <span class="wiki-header-actions-single-action">

            <a href="<%= new_page_path %>" class="wiki-header-actions-single-action-link" title="<%= t(".add_page_tooltip") %>" data-ot-style="action">
              <i class="foundicon-plus"></i>
            </a>
          </span>
          </li>

          <li class="divider"></li>

          <li class="wiki-header-signed-in" data-dropdown="user-dropdown">
          <span class="wiki-header-signed-in-signed-in-as" data-dropdown="user-dropdown">
            <%= t(".signed_in_as_text") %>
          </span>
          <span class="wiki-header-signed-in-first-name" data-dropdown="user-dropdown">
            <%= current_user.name %>
          </span>
          </li>
        </ul>
      <% end %>
    </section>
  </nav>
</div>

<% if user_signed_in? %>
  <ul id="user-dropdown" class="f-dropdown" data-dropdown-content>
    <li><%= link_to "Users", users_path(subdomain: request.subdomain) %></li>
    <li><%= link_to "Wiki Settings", wiki_settings_path %></li>
    <li><%= link_to "Logout", logout_path, method: :delete %></a></li>
  </ul>
<% end %>

<script type='text/javascript'>
  $(document).ready(function () {
    $(".wiki-header-signed-in-signed-in-as").click(function () {
      $(".wiki-header-signed-in").click();
    });

    $(".wiki-header-actions-single-action-link").each(function (index, elem) {
      new Opentip(elem, $(elem).attr('title'), "", { style: "action" });
    })
  });
</script>