<!DOCTYPE html>
<html>
<head>
  <title>Wikenso</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width" />

  <link rel="icon" sizes="16x16 32x32" href="/images/favicon.ico">
  <!--[if IE]><link rel="shortcut icon" href="/images/favicon.ico"><![endif]-->

  <script type="text/javascript" src="//use.typekit.net/fdl3yrh.js"></script>
  <script type="text/javascript">
    try {
      Typekit.load();
    } catch (e) {
    }
  </script>

  <script type="text/javascript">
    $(document).on('page:fetch', function () {
      NProgress.start();
    });
    $(document).on('page:load', function () {
      NProgress.done();
    });
  </script>

  <%= render 'vendor/google_analytics' %>
</head>
<body class="<%= yield(:body_class) %>">

<% if subdomain? %>
  <%= render "layouts/header" %>
<% end %>

<% if flash[:notice] %>
  <div class="flash-notice row">
    <p class="large-12-columns">
      <%= flash[:notice] %>
    </p>
  </div>
<% end %>

<% if flash[:error] %>
  <div class="flash-error row">
    <p class="large-12-columns">
      <%= [flash[:error]].flatten.join(",") %>
    </p>
  </div>
<% end %>

<%= yield %>

</body>
</html>
